*,*:after,*:before
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body
{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
}
/*creation of parent wrapper*/
.parent-wrapper
{
    max-width:1400px;
    height:auto;
    overflow:hidden;
    margin:auto;
    position:relative;
}
/*topmost-section*/
.topmost-section
{
    width:100%;
}
/*descriptions on background image*/
.background-image
{
    width:100%;
    height:auto;
    
}
/*header descriptions started*/
.header
{
    width:100%;
    top:0.6%;
    height:auto;
    position:absolute;
   
}
.heading-interior
{
    color:#ff7200;
    width:144px;
    height:22px;
    font-size:30px;
    font-weight:300;
    letter-spacing:2.4px;
    margin-left:136px;
    display:inline-block;
    margin-top:40px;
}
 .navbar
{
   float:right;
   margin-right:132px;
   margin-top:47px;
}
.navbar ul
{
    list-style: none;
    padding: 0;
}
 .navbar ul li
{
    display: inline-block;
   
}
 .navbar ul li a:hover 
{
    color:#ff8e33;
    text-decoration: none;
}
 .navbar ul li a:active 
{
    color:white;
}
 .navbar ul li a
{
    color:white;
    font-size: 14px;
    height:14px;
    padding:10px;
    font-weight: 300px;
    text-decoration: none;
}
/*header descriptions ended*/
/*banner description started*/
.banner-caption
{
    position: absolute;
    max-width: 669px;
    height:117px;
    text-align:center;
    font-size:60px;
    color: white;
    font-weight: 300;
    top:237px;
    left:371px;
}
.banner-caption-description
{
    margin-top:0;
}
i.fa.fa-user-circle
{
    font-size:45px;
    margin-top:4%;
    opacity:0.6;
}
.fa-arrow-right
{
    font-size:45px;
    opacity:0.6;
}
.form
{
    margin-left:19%;
    border-radius:15px;
}
.input-container 
{
    display: flex;
    width: 100%;
    margin-top:43px;
    width:413px;
    height:76px;
    opacity:0.3;
}
.input-field 
{
    margin-top:0;
    padding: 10px;
    width:300px;
    height:76px;
    opacity:0.6;
}
::-webkit-input-placeholder
{
    color:#000000;
    text-align: center;
    width: 167px;
    height: 18px;
    font-size: 20px;
    font-weight: 300;
}
.banner-subcaption
{    
     left:185px;
     width:303px;
     height:22px;
     font-size:22px;
     font-weight:300;
     text-align:center;
     position:relative;
}
/*banner description ended*/
/*plant description*/
.plant
{
    float:right;
    height:387px;
    width:162px;
    margin-right: 11%;
    margin-top: 4%;
}
/*body description started*/
.body-section::after
{
    width:100%;
    clear:both;
    content:"";
    display:block;
}
.body-section-description
{
    margin-top:2%;
}
.body-section-description
{
    height:32px;
    width:305px;
    opacity: 0.9;
    font-size: 40px;
    line-height: 0.75;
    color:rgba(68, 68, 68, 0.9);
  
}
.body-section-paragraph
{
   width: 635px;
   height: 132px;
   opacity: 0.87;
   font-family: Roboto;
   font-size: 18px;
   line-height: 2;
   letter-spacing: 0.2px;
   color: rgba(68, 68, 68, 0.87);
}
.who-we-are
{
    float:left;
    margin-left: 11%;
    margin-top: 4%;
}
.but-learn-more
{
    background-color:#ff7200;
    color:#ffffff;
    width:181px;
    height:66px;
    opacity:0.8;
    border-radius:32px;
}
/*body description ended*/
/*gallery description started*/
.gallery
{
    width:1400px;
    height:772px;
    background-color:#000000;
    margin-top:6%;
}
.latest-works-caption
{
    width: 416px;
    height: 23px;
    font-size: 30px;
    font-weight: 300;
    margin:auto;
    padding-top:3%;
    text-align: center;
    color: #ffffff;
}
.row::after
{
    content: "";
    display: table;
    clear: both;
}
.padding-in-gallery
{
    padding:10px;
    float: left;
    width: 29%;
    padding:2.5%;
}
.column
{
    position: relative;
}
.column .interior-image-specification
{
    width:auto;
    height:146px;
    max-width:100%;
}
.column .hover-effect
{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #ff7200;
    color:#ffffff;
    opacity: 0;
    text-align:center;
}
.column:hover .hover-effect
{     
    opacity:0.8;
}
.grid
{
    display:grid;
    grid-gap:10px;
    margin-top:4%;
    margin-left:13%;
}
/*gallery description ended*/
/*engineers descriptions started*/
.about-engineers
{
   width:100%;
}
.engineer-caption
{
    width: 226px;
    height: 22px;
    font-size: 30px;
    font-weight: 300;
    color: #000000;
    text-align:center;
    margin:auto;
    margin-top:5%;
}
.engineer-image-specification-baap
{
    height:129px;
    width:129px;
    margin-left:33%;
    margin-top:4%;
    
}
.engineer-image-specification-bepari
{
    height:129px;
    width:129px;
    margin-left:5%;
    margin-top:4%;
}
.engineer-name-baap
{
    width: 154px;
    height: 14px;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.33;
    position:absolute;
    margin-left:25%;
    margin-top:-8%;
}
.engineer-name-bepari
{
    width: 154px;
    height: 14px;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.33;
    position:absolute;
    margin-left:12%;
    margin-top:-8%; 
}
.about-engineer-baap
{
    width: 238px;
    height: 75px;
    font-size: 11px;
    font-weight: 300;
    line-height: 1.45;
    text-align: left;
    color: #000000;
    position:absolute;
    margin-left:25%;
    margin-top:-6%;
}
.about-engineer-bepari
{
    width: 238px;
    height: 75px;
    font-size: 11px;
    font-weight: 300;
    line-height: 1.45;
    text-align: left;
    color: #000000;
    position:absolute;
    margin-left:12%;
    margin-top:-6%;
}
.bepari 
{
    width:45%;
    float:right;
    margin-top:3%;
}
.baap
{
    width:45%;
    margin-top:3%;
}
/*engineer description ended*/
/*subscription region started*/
.subscription-section
{
    max-width:100%;
    margin-top:3%;
}
.sofaset-image-specification
{
    width:1400px;
    height:309px;
   
}
.subscription-form
{
    margin-top:-15%;
    width:100%;
}
.subscribe-caption
{
    width: 93px;
    height: 14px;
    font-size: 18px;
    font-weight: 300;
    line-height: 0.89;
    text-align: left;
    color: #ffffff;
    margin-left:133px;
    
}
.input-name
{
    margin-left:133px;
    width:261px;
    height:49px;
    padding:10px;
    font-size:15px;
    color:#333333;
    font-weight:300;
    border-radius:6px;
}
.input-email
{
    margin-left:30px;
    width:261px;
    height:49px;
    padding:10px;
    font-size:15px;
    color:#333333;
    font-weight:300;
    border-radius:6px;
}
.but-subscribe
{
    background-color:#ff7200;
    color:#ffffff;
    width:134px;
    height:48px;
    margin-left:30px;
    border-radius:12px;
    font-size: 16.5px;
    font-weight: 300;
    line-height: 1.09;
}
.circle
{   
    width: 275px;
    height: 275px;
    opacity: 0.9;
    background-color: #ff7200;
    border-radius:50%;
    margin-right:11%;
    margin-top:-13%;
    float:right;
}
.weekly
{
    margin-top:26%;
    margin-left:8%;
}
.weekly-caption
{
    width: 259px;
    height: 20px;
    font-size: 19px;
    font-weight: 300;
    text-align: center;
    color: #ffffff;
  
}
.weekly-description
{
    width: 238px;
    height: 75px;
    font-size: 11px;
    font-weight: 300;
    line-height: 1.45;
    text-align: left;
    color: #ffffff;
}
/*subscription region ended*/
/*blog description started*/
.blogs
{
    width:100%;
    margin-top:12%;
}
.blog-caption
{
    height: 23px; 
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    color: #333333;
}
.blog-image-office
{
    margin-top:32px;
    width:293px;
    height:176px;
    margin-left:200px;
}
.blog-description
{
    width:100%;
}
.corporate-office
{
    width:24%;
    float:left;
    margin-left:14.2%;
}
.office-interior
{
    width:24%;
    float:left;
    margin-left:1.5%;
    
}
.blog-image-interior
{
    margin-top:32px;
    width:293px;
    height:176px;
    margin-left:61px;
}
.organise-office
{
    width: 255px;
    height: 15px;
    font-size: 14px;
    font-weight: 300;
    text-align: left;
    color: #ff7200;
}
.office-description
{
    width: 292px;
    height: 92px;
    font-size: 12px;
    font-weight: 300;
    line-height: 1.67;
    text-align: left;
    color: #333333;
}
.read-more
{
    width: 113px;
    height: 12px;
    font-size: 15px;
    font-weight: 300;
    text-align: left;
    color: #333333;
}
.read-more a
{
    text-decoration:none;
    color: #333333;
}
.read-more a:hover
{
    color:red;
}
/*blog description ended*/
/*footer description started*/
.footer
{
    width: 1400px;
    height: 185px;
    background-color: #000000;
    margin-top:18%;
}
.copyright
{
    float:left;
    width: 326px;
    height: 18px;
    font-size: 18px;
    font-weight: 300;
    line-height: 1;
    text-align: left;
    color: #8b8b8b;
    margin-top:80px; 
    margin-left:230px;
}
.contact-information
{
    float:left;
    margin-left:21%;
}
.contact-number
{
    float:left;
    width: 100px;
    height: 57px;
    font-size: 10px;
    font-weight: 300;
    line-height: 1.8;
    text-align: center;
    color: #8b8b8b;
    margin-left:50px;
    margin-top:69px;
}
/*footer description ended*/
/*MEDIA QUERIES*/
@media screen and (max-width: 991px)
{
    .heading-interior
    {
        width:144px;
        height:22px;
        font-size:20px;
        width:103px;
        margin-left:75px;
        display:inline-block;
        margin-top:0px;
    }
    .navbar
    {
        margin-right:70px;
        margin-top:-1.3%;
    }
    .navbar ul li a
    {
        font-size: 10px;
        height:14px;
        padding:10px;
    }
    .banner-caption
    {
        max-width: 669px;
        height: 117px;
        font-size: 28px;
        top: 4.5%;
        left: 27%;
    }
    .banner-subcaption
    {    
        left: 3%;
        width: 303px;
        height: 22px;
        font-size:14px;
    }
    .buttoninfo
    {
        margin-top: 25px;
        width: 175px;
        height: 44px;
    }
    .name
    {
        width: 101px;
        font-size: 12px;
    }
    .fa-user-circle
    { 
        font-size:25px;
    }
   .fa-arrow-right
    {    
        font-size:25px;
    }
    .who-we-are 
    {
        margin-left:10%;
    }
    .body-section-description
    {
        height: 14px;
        width: 241px;
        font-size: 23px;
    }
    .body-section-paragraph
    {
        width: 366px;
        height: 105px;
        font-size: 13px;
    }
    .but-learn-more 
    {
        width: 89px;
        height: 40px;
    }
    .plant 
    {
        height: 262px;
        width: 125px;
        margin-right: 10%;
    }
    .gallery 
    {
        max-width: 100%;
        height: 470px;
        margin-top: 3%;
    }
    .latest-works-caption
    {
        width: 235px;
        height: 0px;
        font-size: 16px;
        padding-top: 2%;
    }
    .grid
    {  
        margin-left: 14%;
    }
    .column .interior-image-specification
    {
        height: 99px;
    }
    .engineer-caption 
    {
        width: 130px;
        height: 16px;
        font-size: 17px;
        margin-top: 3%;
    }
    .engineer-image-specification-bepari
     {
        height: 95px;
        width: 95px;
        margin-left: 0%;
        margin-top: 2%;
    }
    .engineer-image-specification-baap 
    {
        height: 95px;
        width: 95px;
        margin-top: 2%;
    }
    .engineer-name-bepari 
    {
        width: 154px;
        height: 14px;
        font-size: 18px;
        margin-left: 12%;
        margin-top: -8%;
    }
    .engineer-name-bepari
    {
        width: 97px;
        height: 3px;
        font-size: 12px;
        margin-left: 14%;
        margin-top: -12%;
    }
    .engineer-name-baap 
    {
        width: 97px;
        height: 3px;
        font-size: 12px;
        margin-left: 28%;
        margin-top: -12%;
    }
    .about-engineer-bepari
    {
        width: 181px;
        font-size: 9px;
        margin-left: 14%;
        margin-top: -9%;
    }
    .about-engineer-baap
    {
        width: 181px;
        font-size: 9px;
        margin-left: 28%;
        margin-top: -9%;
    }
    .sofaset-image-specification 
    {
        max-width:100%;
        height: 230px;
    }
    .subscription-form
    {
        margin-top:-23%;
    }
    .subscribe-caption
    {
        width: 50px;
        height: 8px;
        font-size: 12px;
        margin-left: 55px;
    }
    .input-name 
    {
        margin-left: 55px;
        width: 134px;
        height: 29px;
        font-size: 10px;
    }
    .input-email
    {
        margin-left:15px;
        width:134px;
        height:29px;
        font-size:10px;
    }
    .but-subscribe
    {
        width: 100px;
        height: 32px;
        margin-left: 11px;
        font-size: 12.5px;
    }
    .circle 
    {
        width: 175px;
        height: 175px;
        margin-right: 10%;
        margin-top: -12%;
    }
    .weekly 
    {
        margin-top: 20%;
        margin-left: 13%;
    }
    .weekly-caption 
    {
        width: 159px;
        height: 11px;
        font-size: 12px;
    }
    .weekly-description 
    {
        width: 160px;
        height: 25px;
        font-size: 9px;
    }
    .blogs 
    {
        margin-top: 17%;
    }
    .blog-caption 
    {
        height: 2px;
        font-size: 20px;
    }
    .blog-image-office
    {
        width: 218px;
        height: 146px;
        margin-left: 27px;
    }
    .blog-image-interior 
    {
        width: 214px;
        height: 146px;
        margin-left: 22px;
    }
    .corporate-office 
    {
        width: 24%;
        margin-left: 4%;
    }
    .office-interior 
    {
        width: 24%;
        margin-left: 7.5%;
    }
    .organise-office 
    {
        width: 152px;
        height: 4px;
        font-size: 11px;
    }
    .office-description 
    {
        width: 230px;
        height: 72px;
        font-size: 10px;
    }
    .read-more 
    {
        width: 113px;
        height: 12px;
        font-size: 15px;
    }
      
      
}
    
    
